<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title>AngularJS_18</title>
  <script src="Angular.js"></script>
 </head>

 <body ng-app="myApp" ng-controller="person">
	 <form ng-submit="submit()" name="myForm">
		 <p>职业:
		 <input type="radio" name='job' value='engineer' ng-model="user.job">工程师
		 <input type="radio" name='job' value='designer'  ng-model="user.job">设计师
		 <input type="radio" name='job' value='teacher' ng-model="user.job">教师
		 </p>
		 <input type="submit" value="提交">
		 <input type="button" value="选中教师" ng-click="select_teacher()">
	</form>
 </body>
 <script>
    var app=angular.module("myApp",[]);
  	 app.controller("person",function($scope){
		 $scope.user={job:'designer'};
		 $scope.submit=function(){
			alert(angular.toJson($scope.user));
		 };
		 $scope.select_teacher=function(){
			 $scope.user.job="teacher";
		 }
	 });
 </script>
</html>


